.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba(20, 19, 19);
    font-weight: 700;
    text-transform: uppercase;

    background-color: rgb(160, 155, 155);
    border: 0;
    outline: 0;
    padding: 10px 24px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
}

.button:hover {
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}